html body {
    margin: 0;
  height: 100%;
  width: 100%;
}
 
#app {
  width: 100vw;
  height: 100vh;
}

.react-flow__panel {
  padding: 5px 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}